################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SunFoxPrinting/bin/Debug/net8.0
/.vs
/SunFoxPrinting/obj
/Silo/bin/Debug/net8.0
/Silo/obj
/Abstractions/obj/Release/net8.0
/Abstractions/bin/Debug/net8.0/Orleans.ShoppingCart.Abstractions.dll
/Abstractions/bin/Debug/net8.0/Orleans.ShoppingCart.Abstractions.pdb
/Abstractions/obj/Debug/net8.0/ref/Orleans.ShoppingCart.Abstractions.dll
/Abstractions/obj/Debug/net8.0/refint/Orleans.ShoppingCart.Abstractions.dll
/Abstractions/obj/Debug/net8.0/Orleans.ShoppingCart.Abstractions.AssemblyInfo.cs
/Abstractions/obj/Debug/net8.0/Orleans.ShoppingCart.Abstractions.AssemblyInfoInputs.cache
/Abstractions/obj/Debug/net8.0/Orleans.ShoppingCart.Abstractions.csproj.CoreCompileInputs.cache
/Abstractions/obj/Debug/net8.0/Orleans.ShoppingCart.Abstractions.dll
/Abstractions/obj/Debug/net8.0/Orleans.ShoppingCart.Abstractions.GeneratedMSBuildEditorConfig.editorconfig
/Abstractions/obj/Debug/net8.0/Orleans.ShoppingCart.Abstractions.pdb
/Abstractions/obj/Debug/net8.0/Orleans.ShoppingCart.Abstractions.sourcelink.json
/Abstractions/bin/Debug/net8.0/Orleans.ShoppingCart.Abstractions.dll
/Abstractions/bin/Debug/net8.0/Orleans.ShoppingCart.Abstractions.pdb
/Abstractions/obj/Debug/net8.0/ref/Orleans.ShoppingCart.Abstractions.dll
/Abstractions/obj/Debug/net8.0/refint/Orleans.ShoppingCart.Abstractions.dll
/Grains/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Grains/obj/Release/net8.0/Orleans.ShoppingCart.Grains.AssemblyInfo.cs
/Grains/obj/Release/net8.0/Orleans.ShoppingCart.Grains.AssemblyInfoInputs.cache
/Grains/obj/Release/net8.0/Orleans.ShoppingCart.Grains.assets.cache
/Grains/obj/Release/net8.0/Orleans.ShoppingCart.Grains.csproj.AssemblyReference.cache
/Grains/obj/Release/net8.0/Orleans.ShoppingCart.Grains.GeneratedMSBuildEditorConfig.editorconfig
/Grains/obj/Release/net8.0/Orleans.ShoppingCart.Grains.GlobalUsings.g.cs
/Grains/obj/Debug/net8.0/ref/Orleans.ShoppingCart.Grains.dll
/Grains/obj/Debug/net8.0/refint
/Grains/obj/Debug/net8.0
/Grains/bin/Debug/net8.0/Orleans.ShoppingCart.Abstractions.dll
/Grains/bin/Debug/net8.0/Orleans.ShoppingCart.Abstractions.pdb
/Grains/bin/Debug/net8.0/Orleans.ShoppingCart.Grains.dll
/Grains/bin/Debug/net8.0/Orleans.ShoppingCart.Grains.pdb
