################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SunFoxPrinting/bin/Debug/net8.0
/.vs
/SunFoxPrinting/obj
