@page "/myphotos"
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<PageTitle>My Photos</PageTitle>

<h1>My Photos</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        var test = await JSRuntime.InvokeAsync<string>("blazorExtensions.WriteCookie", name, value, days);
    }

    var test = await JSRuntime.InvokeAsync<string>("blazorExtensions.WriteCookie", name, value, days);
    private void IncrementCount()
    {
        currentCount++;
    }

    window.blazorExtensions = {

    WriteCookie: function(name, value, days)
    {

        var expires;
        if (days)
        {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        }
        else
        {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    }
}


